.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#start,#status{
    font-size: 22px;
}

.footer {
    position: fixed;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    line-height: 2;
    text-align: center;
}

.modal-dialog {
    width: 90%;
}

.modal-header {
    text-align: center;
}

h4 {
    text-align: center;
}

button{
    text-align: center;
    
}

canvas {
    border-radius: 20px;
    border: 5px dashed bisque;
}